1. 
If the block is relative, may be opacity is useless.

2. 
the load sequence of section in index.html may affect the performance of app.

3. two line ellipsis:
{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
one line ellipsis:
white-space: normal;
word-wrap: break-word;
word-break: break-all;

4. use of calc
#setup-calendar-view .setup-calendar-container {
  height: calc(100% - 6.2rem);
  overflow-y: scroll;
}

5. use of flex
# adjust height and make align-center
.adjust {
  display: flex;
  height: 8.2rem;
  align-items: center;
  justify-content: center; 
} 