
.p-sec {
  font-size: 1.6rem;
  font-weight: 400;
}

.p-pri {
  font-size: 2.1rem;
  font-weight: 400;
}
box-sizing: border-box;
color: rgb(255, 97, 20);
font-size: 10px;
line-height: 10px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
text-alignleftvisibility: hidden;
-moz-user-select: none;

#setup-calendar-view .setup-calendar-container {
  height: calc(100% - 6.2rem);
  overflow-y: scroll;
}

# show the full content when the line is too long.
white-space: normal;
word-wrap: break-word;
word-break: break-all;

#
#setup-calendar-view .setup-calendar-container {
  height: calc(100% - 6.2rem);
  overflow-y: scroll;
}