html {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  background-color: #efeff4;
}

.content {
  background-color: #efeff4;
  max-width: 700px;
  margin: 0px auto;
  /*border: 1px solid red;*/
  height: 100%;
  min-height: 100%;
}

.origin {
  background-color: white;
}
.origin .title {
  display: flex;
  padding: 0px 15px;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  border-bottom: 1px solid #efeff4;
}
.origin .title .desc {
  font-size: 16px;
  color: #595959;
}
.origin .title .custom-stock {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
}
.origin .title .custom-stock.add {
  color: #487deb;
}
.origin .title .custom-stock.remove {
  color: #909090;
}
.origin .title .custom-stock::before {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  top: 4px;
  content: "";
  width: 20px;
  height: 20px;
  background: url('imgs/custom_status.png');
  background-size: 40px 20px;
}
.origin .title .custom-stock.add::before {
  background-position: 0px 0px;
}
.origin .title .custom-stock.remove::before {
  background-position: 20px 0px;
}
.origin .stock-draw {
  padding-bottom: 15px;
}

.similar {
  background-color: white;
  margin-top: 10px;
  font-size: 18px;
}
.similar .tip {
  color: #595959;
  line-height: 45px;
  font-size: 16px;
  padding: 0px 15px;
  border-bottom: 1px solid #efeff4;
}
.similar .title {
  font-size: 15px;
  line-height: 40px;
  color: #595959;
  padding: 0px 15px;
}

.stock-charts {
  margin: 0px 15px;
  padding-bottom: 20px;
}
.stock-charts .group-top {
  font-size: 10px;
}
.stock-charts .group-top .ma5 {
  text-anchor: middle;
  fill: #457aee;
}
.stock-charts .group-top .ma10 {
  text-anchor: middle;
  fill: #ffc128;
}
.stock-charts .group-top .ma20 {
  text-anchor: middle;
  fill: #ff5871;
}
.stock-charts .point-down {
  fill: #5fb33b;
  stroke: #5fb33b;
}
.stock-charts .point-up {
  fill: #ff5871;
  stroke: #ff5871;
}
.stock-charts .group-series .ma5 {
  stroke: #457aee;
}
.stock-charts .group-series .ma10 {
  stroke: #ffc128;
}
.stock-charts .group-series .ma20 {
  stroke: #ff5871;
}

.choose-similar-stock {
  position: relative;
  background-color: #f9f9f9;
}
.choose-similar-stock .show-similar-stock {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0px 30px 0px 15px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.choose-similar-stock .show-similar-stock .item {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background: url('imgs/similar_stock_status.png');
  background-size: 180px 45px;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
.choose-similar-stock .show-similar-stock .item {
  background-position: -45px 0px;
}
.choose-similar-stock .show-similar-stock .item.focus {
  background-position: 0px 0px;
}
.choose-similar-stock .show-similar-stock .item.unlock {
  background-position: -135px 0px;
}
.choose-similar-stock .show-similar-stock .item.unlock.focus {
  background-position: -90px 0px;
}
.choose-similar-stock .show-similar-stock .item .rank {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('imgs/similar_rank.png');
  background-size: 360px 20px;
}

.choose-similar-stock .show-similar-stock .item .rank.rank0 {
  background-position: -180px 0px;
}
.choose-similar-stock .show-similar-stock .item .rank.rank1 {
  background-position: -200px 0px;
}
.choose-similar-stock .show-similar-stock .item .rank.rank2 {
  background-position: -220px 0px;
}
.choose-similar-stock .show-similar-stock .item .rank.rank3 {
  background-position: -240px 0px;
}
.choose-similar-stock .show-similar-stock .item .rank.rank4 {
  background-position: -260px 0px;
}
.choose-similar-stock .show-similar-stock .item .rank.rank5 {
  background-position: -280px 0px;
}
.choose-similar-stock .show-similar-stock .item .rank.rank6 {
  background-position: -300px 0px;
}
.choose-similar-stock .show-similar-stock .item .rank.rank7 {
  background-position: -320px 0px;
}
.choose-similar-stock .show-similar-stock .item .rank.rank8 {
  background-position: -340px 0px;
}

.choose-similar-stock .show-similar-stock .item.focus .rank.rank0 {
  background-position: 0px 0px;
}
.choose-similar-stock .show-similar-stock .item.focus .rank.rank1 {
  background-position: -20px 0px;
}
.choose-similar-stock .show-similar-stock .item.focus .rank.rank2 {
  background-position: -40px 0px;
}
.choose-similar-stock .show-similar-stock .item.focus .rank.rank3 {
  background-position: -60px 0px;
}
.choose-similar-stock .show-similar-stock .item.focus .rank.rank4 {
  background-position: -80px 0px;
}
.choose-similar-stock .show-similar-stock .item.focus .rank.rank5 {
  background-position: -100px 0px;
}
.choose-similar-stock .show-similar-stock .item.focus .rank.rank6 {
  background-position: -120px 0px;
}
.choose-similar-stock .show-similar-stock .item.focus .rank.rank7 {
  background-position: -140px 0px;
}
.choose-similar-stock .show-similar-stock .item.focus .rank.rank8 {
  background-position: -160px 0px;
}

.choose-similar-stock .scroll-arrow {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 60px;
}

.footer {
  padding-top: 12px;
  color: #595959;
  font-size: 12px;
  line-height: 18px;
}
.footer div {
  text-align: center;
}
/*::-webkit-scrollbar{
  width: 0px;
}*/